<!DOCTYPE html>
<style>
	.cldt{
		width:20px;
		border-radius:20px;
		color: #4B77BE;
	}

</style>

<html>
<div class='container'>
<head></head>
<title></title>
<body>
 <div class='row'>
	<div class='col-6 col-md-4'>
	<a class='navbar-brand' href='#'><span class='label lbtext'>lable</span></a>
	</div><div class='col-12 col-md-8'></div>
</div></br>

 <div class='row'>
	<div class='col-lg-6 col-md-6'>
		<span class='label lbopen'>Search by state or provider</span>
	</div> <br>
	
	<div class='col-lg-2 col-md-2'>
	 <div class='cldt' align='right'>
      <input type='date'>
     </div> 
	</div>
	<div class='col-lg-2 col-md-2'>
		<a href='zipoverview'>
		<span class='label lbseacrh'>Search</span></a>
	</div>  
	
 </div></br>

<div class='row'>
	<div class='col-lg-2 col-md-2'></div>
  <div class='col-lg-4 col-md-4'>
  <table>
	<div><p class='lable lbgenaral' align ='center'>General</p></div>
	<tr><td><p class='circledash' type='text'>65</p></td>
		<td><p class='circledash' type='text'>50</p></td></tr>
	<tr><td class='dntext'>Total #Colmpleted</td>
		<td class='dntext'>Total Uploads</td></tr>
	</table>
  </div>

  <div class='col-lg-6 col-md-6'>
   <table class='roundedtable' class='dataTable_wapper'>
	<tr>
	 <th colspan='2'>PLOST Completion Time (in Days)-[By State]</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td><td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	 <tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
   </table>
</div>
</div>

<div class='row'>
<div class='col-lg-2 col-md-2'></div>
<div class='col-lg-4 col-md-4'>
    <table>
	<tr><td><p class='circledash' type='text'>27</p></td>
		<td><p class='circledash' type='text'>45</p></td></tr>
		<tr><td class='dntext'>Total #Providers</td>
		<td class='dntext'>Total # of Patients</td></tr>
	</table>
</div>

<div class='col-lg-6 col-md-6'>
<div class='table-wrapper-scroll-y my-custom-scrollbar'>
   <table class='roundedtable'>
	<tr>
	 <th colspan='2'>Total Number of Providers - [By State]</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
  </table>
</div>
</div>
</div>

<div class='row'>
 <div class='col-6 col-md-4'>.</div>
 <div class='col-6 col-md-4'></div>
 <div class='col-6 col-md-4'></div>
</div>

<div class='row'>
 <div class='col-1'></div>
  <div class='col-lg-3 col-md-2'>
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
	<tr>
	 <th colspan='2'>Total Number of Uploads - [By State]</th>
	 <th>Sort</th>
	</tr>  
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
  </table>
  </div>
  </div>
<div class='col-2'>.</div>
  <div class='col-lg-6 col-md-6'>
   <div class='table-wrapper-scroll-y my-custom-scrollbar'>
   <table class='roundedtable'>
	<tr>
	 <th colspan='2'>Total Number of Patients - [By State]</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
   </table>
  </div>  
 </div>
 </div>

<div class='row'>
 <div class='col-6 col-md-4'></div>
 <div class="col-6 col-md-4"></div>
 <div class="col-6 col-md-4"></div>
</div>

</body>
</div>
</html>
