
<html>
<div class="row">
 <div class="col-2"></div>
  <div class="col-4"></div>
  <div class="col-6"></div>
</div>

<div class="row">
 <div class="col-2"></div>
  <div class="col-4">
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
  </table>
  </div>
  </div>

<div class="col-6">
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
  </table>
  </div>
  </div>


</div>
</html>