<!DOCTYPE html>
<style>


</style>

<html>
<div class='container'>
<head></head>
<title></title>
<body>
 <div class='row'>
	<div class='col-6 col-md-4'>
	<a class="navbar-brand" href="#"><span class="label lbtext">lable</span></a>
	</div><div class='col-12 col-md-8'></div></div></br>
 <div class='row'>
	<div class='col-6 col-md-6'>
		<span class="label lbopen">Text</span>
	</div> 
	<div class='col-6 col-md-4'>
		<span class="label lbdate">date</span>
	</div>
	<div class='col-6 col-md-2'>
		<span class="label lbseacrh">serch</span>
	</div>  
 </div></br></br>

<div class="row">
	<div class='col-2'></div>
  <div class="col-4">
  <table>
	<p align='center'><span class="label lbseacrh">General</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	<tr><td><input class="input1" type='text'></td>
		<td><input class="input1" type='text'></td></tr>
	</table>
  </div>

  <div class="col-6">
   <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class=''></span></td><td></td>
	</tr>
  </table>
</div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-4">
    <table>
	<tr><td><input class="input1" type='text'></td>
		<td><input class="input1" type='text'></td></tr>
	</table>
</div>

<div class="col-6">
<div class='table-wrapper-scroll-y my-custom-scrollbar'>
   <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class=''></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class=''></span></td><td></td>
	</tr>
  </table>
</div>
</div>
</div>

<div class="row">
 <div class="col-2"></div>
  <div class="col-4">
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class=''></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class=''></span></td><td></td>
	</tr>
  </table>
  </div>
  </div>
  <div class="col-6">
   <div class='table-wrapper-scroll-y my-custom-scrollbar'>
   <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class=''></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class=''></span></td><td></td>
	</tr>
   </table>
  </div>  
 </div>
 </div>


<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
 <div class="col-6 col-md-4">.col-6 .col-md-4</div>
 <div class="col-6 col-md-4">.col-6 .col-md-4</div>
 <div class="col-6 col-md-4">.col-6 .col-md-4</div>
</div>

<!-- Columns are always 50% wide, on mobile and desktop -->
  <div class="row">
   <div class="col-6">.col-6</div>
   <div class="col-6">.col-6</div>
  </div>
 </body>
 </div>
</html>
