<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>

<body>
<div class="container-fluid">
<div class="row content">
<div class="col-lg-3 sidenav ">
<div>.</div>
<p class='statelable' align ='center'>67</p>
<p align='center'><b><fount color='blue'>Completed</fount></b></p>
<p class='statelable' align ='center'>34</p>
<p align='center'><b><fount color='red'>Pending</fount></b></p>
<p class='statelable' align ='center'>55</p>
<p align='center'><b><fount color='blue'># Uploads</fount></b></p>
<p class='statelable' align ='center'>45</p>
<p align='center'><b><fount color='blue'># Providers</fount></b></p>
<p class='statelable' align ='center'>12</p>
<p align='center'><b><fount color='blue'># of Patients</fount></b></p>
</div>
<br>
<div class='col-lg-4 col-md-4'>
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
  <tr>
   <th colspan='2'>POLST Completion Time</th>
   <th>Sort</th>
  </tr>
  <tr>
   <td></td>
   <td></td><td></td>
  </tr>
    <tr>
   <td></td><td></td><td></td>
  </tr>
  <tr>
   <td></td><td></td><td></td>
  </tr>
  </table>
  </div>
  </div>
<!-- 
<div class="col-lg-6 col-md-8">
 <table class='roundedtable' class='dataTable_wapper'>
  <tr>
   <th colspan='2'>PLOTS Completion Time (in Days)-[By State]</th>
   <th>Sort</th>
  </tr>
  <tr>
   <td>California</td><td><span class='lbtable'></span></td><td></td>
  </tr>
    <tr>
   <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
  </tr>
   <tr>
   <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
  </tr>
  </table>
 </div>
</div>
 --><!-- 
<div class="row">
<div class="col-lg-4 col-md-2">
 <table class='roundedtable' class='dataTable_wapper'>
  <tr>
   <th colspan='2'>PLOTS Completion Time (in Days)-[By State]</th>
   <th>Sort</th>
  </tr>
  <tr>
   <td>California</td><td><span class='lbtable'></span></td><td></td>
  </tr>
    <tr>
   <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
  </tr>
   <tr>
   <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
  </tr>
   </table>
      </div> -->
    </div>
    <div class="col-lg-4 col-md-2">
      <div class="well">
       <div class="col-lg-4 col-md-2">
 <table class='roundedtable' class='dataTable_wapper'>
  <tr>
   <th colspan='2'>PLOTS Completion Time (in Days)-[By State]</th>
   <th>Sort</th>
  </tr>
  <tr>
   <td>California</td><td><span class='lbtable'></span></td><td></td>
  </tr>
    <tr>
   <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
  </tr>
   <tr>
   <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
  </tr>
   </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-2">
      <div class="well">
       
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="well">
        <p>Text</p> 
        <p>Text</p> 
        <p>Text</p> 
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <p>Text</p> 
        <p>Text</p> 
        <p>Text</p> 
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <p>Text</p> 
        <p>Text</p> 
        <p>Text</p> 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="well">
        <p>Text</p> 
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
        <p>Text</p> 
      </div>
    </div>
  </div>
</div>
</div>
</div>

</body>
</html>

