<!DOCTYPE html>

<html>
<div class="row">
 <div class="col-2">.</div>
  <div class="col-4">.</div>
  <div class="col-6">.</div>
</div>

<div class='row'>
 <div class='col-lg-3 col-md-3 sidenav'>
 <div>.</div>
  <p class='statelable' align ='center'>67</p>
  <p align='center'><b><fount color='blue'>Completed</fount></b></p>
  <p class='statelable' align ='center'>34</p>
  <p align='center'><b><fount color='red'>Pending</fount></b></p>
  <p class='statelable' align ='center'>55</p>
  <p align='center'><b><fount color='blue'># Uploads</fount></b></p>
  <p class='statelable' align ='center'>45</p>
  <p align='center'><b><fount color='blue'># Providers</fount></b></p>
  <p class='statelable' align ='center'>12</p>
  <p align='center'><b><fount color='blue'># of Patients</fount></b></p>
 </div>
<div class='col-lg-4 col-md-4'>
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td></td>
	 <td></td><td></td>
	</tr>
    <tr>
	 <td></td><td></td><td></td>
	</tr>
	<tr>
	 <td></td><td></td><td></td>
	</tr>
  </table>
  </div>
  </div>
  <div class="col-lg-1 col-md-1"></div>
<div class="col-lg-3 col-md-3">
  <div class='table-wrapper-scroll-y my-custom-scrollbar'>
  <table class='roundedtable'>
	<tr>
	 <th colspan='2'>PLOTS</th>
	 <th>Sort</th>
	</tr>
	<tr>
	 <td>California</td>
	 <td><span class='lbtable'></span></td><td></td>
	</tr>
    <tr>
	 <td>Colorado</td><td><span class='lbtable1'></span></td><td></td>
	</tr>
	<tr>
	 <td>Oregon</td><td><span class='lbtable2'></span></td><td></td>
	</tr>
  </table>
  </div>
  </div>
</div>
</html>